@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

@font-face {
    font-family: "Norse-Bold";
    src: url(/img/Norse-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    appearance: none;
    text-decoration: none;
}

.main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

.header{
    background-image: url(../img/himmel-s--LJkTZnVOrY-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    font-family: "Norse-Bold";
    font-size: 100px;
    justify-content: center;
    padding: 15px;
    margin: 200px 0;
}

.title > img{
    width: 80px;
}

.content{
    background-color: rgb(247, 247, 247);
    font-family: "Poppins";
}

.text{
    font-size: 21px;
    font-weight: 600;
    width: 670px;
    margin: 130px 80px 60px;
}

form > .fields{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 5px 5px rgb(202, 202, 202);
    padding: 35px 80px;
}

.fieldContainer{
    display: grid;
    grid-template-columns: 3fr 6fr;
}

.fieldBlock{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 300px;
}

input{
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    padding: 10px;
}

.fieldsTitle{
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
}

.button{
    margin: 35px 80px;
}

.submitButton{
    background-color: #485c6d;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgb(202, 202, 202);
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 35px;
    padding: 15px 55px;
}

.submitButton:hover{
    background-color: #394957;
    cursor: pointer;
}

a {
    color: #485c6d;
    font-weight: 600;
}

.text > p{
    margin: 5px 0 25px;
}

input:focus{
    border: 1px solid #485c6d;
    box-shadow: 3px 5px 5px rgb(202, 202, 202);
}

.error{
    border: 1px solid red;
}